nav, header, .contenedor, footer{
    max-width: 92%;
    margin: auto;
    
}
nav{
    background-color:#808080;
    text-align: center;
    
}
header{
    
    background-color: white;
    text-align: center;
    text-transform: capitalize; 
    background-color:  #F0B429;
    color:white;
    
}

.contenedor{
    background-color:#005883 ;
    max-height: 200vmax;
    
           

}

.central{
    background-color: navy;
    text-align: center;
    color: aliceblue;
    display: contents;
    max-height: 900vmax;
    
    
          
}
footer{
    background-color: #F0B429;
    color: black;
    text-align: center;
    font-size: 2vmax;
    
}
aside{
    background-color: #F0B429;
    display: inline-block;
    max-width: 150%;
    margin-left: 72%;
           
}

/* Menu*/
.menu li{
    display: inline-block;

}
li a, boton{
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0.9em 1em;
}
.listaDesplegable{
    display: none;
    background-color: aliceblue;
    position: absolute;
}
.listaDesplegable a{
    color: black;
    display: block;
    text-align: left;
}
.boton:hover .listaDesplegable{
    display: block;
    
}
li a:hover{
    background-color: darkgrey;
        
}
